.about {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Quicksand", sans-serif;

    h1, h2 {
        text-align: center;
        padding: 0.5rem;
        font-size: 2rem;
        font-weight: 600;
    }

    p {
        padding: 1rem;
    }

    h2 {
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }

    .authors {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2.5rem;

            img {
                width: 14rem;
                border-radius: 50%;
            }

            figcaption {
                display: flex;
                align-items: center;
                padding: 0.5rem;
                font-size: 1.2rem;
                vertical-align: middle;

                .iconGit {
                    font-size: 1.5rem;
                    color: white;
                }
            }
        }
    }
}